target/
*.log
uploads/
*.iml
.idea/
.vscode/
apache-maven-3.9.9/
apache-maven-3.9.9-bin.zip
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
pnpm-store/
.DS_Store
.env
.env.local
.env.*.local
